<section>

    <div class="toolbar-container">
      <header>

              <button mat-raised-button (click)="openDialogAdd()" class="addButton"
                    matTooltipPosition="left">
                    Agregar cliente
                </button>
       </header>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" aria-describedby="Tabla que lista los clinetes">
    
                <!-- identificacion Column -->
                <ng-container matColumnDef="identificacion">
                    <th mat-header-cell *matHeaderCellDef> Identificación </th>
                    <td mat-cell *matCellDef="let element">{{element.dsdocumento + ':' +element.cddocumento}}</td>
                </ng-container>
    
                <!-- nombreCliente Column -->
                <ng-container matColumnDef="nombreCliente">
                    <th mat-header-cell *matHeaderCellDef> Nombre del cliente </th>
                    <td mat-cell *matCellDef="let element">{{element.dsnombreCompleto}}</td>
                </ng-container>

                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element">{{element.dsemail}}</td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef> teléfono </th>
                    <td mat-cell *matCellDef="let element">{{element.cdtelefono}}</td>
                </ng-container>
    
                <!-- detalles Column -->
                <ng-container matColumnDef="detalles">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
    
                          <button mat-icon-button matTooltip="Editar" (click)="editarCliente(element)">
                            <mat-icon >edit</mat-icon>
                          </button>
                          
                          <span  (click)="changedStatus(element, myslide)">
                            <mat-slide-toggle [checked]="element.cdestado == 'A' ? true : false" #myslide >
                                {{(element.cdestado === 'A')?'Activo' : 'Inactivo'}}
                            </mat-slide-toggle>
                        </span>
                          
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay clientes registrados</td>
          </tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    
    </div>
    </section>